*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0f172a;
color:white;
padding:30px;
min-height:100vh;
}

.container{
max-width:1200px;
margin:auto;
}

h1{
text-align:center;
margin-bottom:25px;
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-bottom:25px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:15px;
text-align:center;
}

.card h2{
font-size:2rem;
color:#8b5cf6;
}

.task-form{
display:grid;
grid-template-columns:2fr 1fr 1fr auto;
gap:10px;
margin-bottom:20px;
}

input,select{
padding:14px;
border:none;
border-radius:10px;
background:#1e293b;
color:white;
}

button{
padding:14px;
border:none;
border-radius:10px;
background:#8b5cf6;
color:white;
cursor:pointer;
}

button:hover{
background:#7c3aed;
}

#searchInput{
width:100%;
margin-bottom:20px;
}

.progress-container{
height:10px;
background:#1e293b;
border-radius:20px;
margin-bottom:20px;
overflow:hidden;
}

#progressBar{
height:100%;
width:0%;
background:#22c55e;
transition:.4s;
}

.task{
background:#1e293b;
padding:18px;
border-radius:15px;
margin-bottom:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.task.completed{
opacity:.6;
text-decoration:line-through;
}

.task-info small{
display:block;
margin-top:5px;
color:#cbd5e1;
}

.actions button{
margin-left:5px;
padding:8px 12px;
}

@media(max-width:768px){

.stats{
grid-template-columns:1fr;
}

.task-form{
grid-template-columns:1fr;
}

.task{
flex-direction:column;
align-items:flex-start;
gap:10px;
}
}
#taskList{
    margin-top:25px;
}

.task-card{
    background:#1e293b;
    padding:20px;
    margin-top:15px;
    border-radius:15px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border-left:6px solid #8b5cf6;

    transition:all 0.3s ease;
}

.task-card:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.task-card:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.task-left h3{
    margin-bottom:8px;
    color:white;
}

.meta{
    color:#cbd5e1;
    font-size:14px;
}

.priority-high{
    background:#ef4444;
    color:white;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}

.priority-medium{
    background:#f59e0b;
    color:white;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}

.priority-low{
    background:#22c55e;
    color:white;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}

.actions{
    display:flex;
    gap:8px;
}

.actions button{
    width:42px;
    height:42px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#8b5cf6;
    color:white;
    font-size:16px;
    transition:0.3s;
}

.actions button:hover{
    background:#7c3aed;
    transform:scale(1.05);
}
